<?xml version="1.0" encoding="utf-8" ?> 

<configuration> 

  <QueenOfDreamer> 

    <environment>dev</environment> 

    <sellerUserId>1</sellerUserId> 

     <userTypeAdmin>1</userTypeAdmin> 

    <userTypeSeller>2</userTypeSeller> 

    <userTypeBuyer>3</userTypeBuyer>     

    <tokenSecret>super secret key</tokenSecret> 

    <tokenExpirationMin>10080</tokenExpirationMin> 

    <alg>HS512</alg> 

    <customDeliveryServiceId>1</customDeliveryServiceId> 

    <userService>https://api.shopdoora.com/auth/api/Auth/</userService>  

    <deliveryService>https://api.shopdoora.com/delivery/api/Delivery/</deliveryService>  
    
    <memberPointService>https://api.shopdoora.com/memberpoint/api/MemberPoint/</memberPointService>            

    <!-- <dbConnection>Server=db-instance-mhs.cv0y95w1wmcg.ap-southeast-1.rds.amazonaws.com,1433;Database=SIT_QueenOfDreamer;User Id=admin;Password=sysadmin789;MultipleActiveResultSets=True</dbConnection>   -->
    <!--development -->
    <dbConnection>Server=13.228.62.234\SQLEXPRESS,1433;Database=QueenOfDreamer;User Id=sa;Password=Password@123;MultipleActiveResultSets=True</dbConnection>  

    <issuerSigningKey>true</issuerSigningKey> 

    <validateAudience>false</validateAudience> 

    <validateIssuer>true</validateIssuer> 

    <validateLifetime>true</validateLifetime> 

    <tokenIssuer>thihasoe</tokenIssuer> 

    <deliveryCount>2</deliveryCount> 

    <xmlFilePath>D:\Projects\QueenOfDreamer</xmlFilePath> 

    <applicationConfigId>24</applicationConfigId> 
    
    <bestSellerDuration>7</bestSellerDuration>

    <orderStatus> 

      <order>1</order>        <!--မှာယူပြီး--> 

      <take>2</take>          <!--ထုတ်ပိုးပြီး--> 

      <sending>3</sending>    <!--ပို့နေသည်--> 

      <sent>4</sent>          <!--ပို့ပြီး--> 

      <cancel>5</cancel>      <!--ပယ်ဖျက်သည်--> 

    </orderStatus> 
    <platform>
      <android>1</android>
      <ios>2</ios>    
      <web>3</web>
    </platform>

    <lang>
      <unicode>unicode</unicode>
      <zawgyi>zawgyi</zawgyi> 
    </lang>

     <tax>
      <taxpayerId>435567676</taxpayerId>
      <commercialTax>0</commercialTax>
    </tax>

    <activityType>
      <search>1</search>
      <addToCart>2</addToCart>
      <removeFromCart>3</removeFromCart>
      <order>4</order>
      <orderCancel>5</orderCancel>
      <ip>6</ip>
      <active>7</active>
      <register>8</register>
      <makePayment>9</makePayment>
      <paymentStatus>10</paymentStatus>
      <orderStatus>11</orderStatus>
    </activityType>

    <searchKeyword>
      <all>1</all>
      <withResult>2</withResult>
      <withoutResult>3</withoutResult>      
    </searchKeyword>

    <searchType> 

      <name>1</name>           <!--search by name--> 

      <category>2</category>   <!--search by category--> 

      <tag>3</tag>             <!--search by tag--> 

      <latest>4</latest>       <!--search with latest product--> 

      <promotion>5</promotion> <!--search with promotion product--> 
      
      <subCategory>6</subCategory> <!--search by sub category-->
       
      <bestSeller>7</bestSeller> <!--search by best seller product--> 

    </searchType>

    <notiRedirectAction> 

      <orderDetail>GetOrderDetail</orderDetail> 

    </notiRedirectAction> 

    <aws> 

      <key>AKIASCOLVFXBEFTSVWME</key> 

      <secret>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</secret> 

      <keyPath>QueenOfDreamer/images</keyPath>

      <productPath>product</productPath> 

      <orderPath>order</orderPath>

       <bannerPath>banner</bannerPath> 
<brandBannerPath>brand/banner</brandBannerPath>
<brandLogoPath>brand/logo</brandLogoPath>

      <userProfilePath>https://aws-mhs-bucket.s3-ap-southeast-1.amazonaws.com/auth/images/user-profiles/</userProfilePath> 

      <imgStaticUrl>https://aws-mhs-bucket.s3-ap-southeast-1.amazonaws.com/QueenOfDreamer/images/</imgStaticUrl> 
      
      <imgHosted>https://aws-mhs-bucket.s3-ap-southeast-1.amazonaws.com/</imgHosted>
    </aws> 

    <smsMessages> 

      <apiKey>bgBrPuE4p6pfwEs-yHhPSuyYQrenX60YCAad3QKVcgN1K27Ser2gygI0TN9z_PxE</apiKey> 

      <sendPackageSenderStausSent>SendPackage-Sender-Sent</sendPackageSenderStausSent> 

      <sendPackageRecipientStatusSent>SendPackage-Recipient-Sent</sendPackageRecipientStatusSent> 

      <sendPackageRecipientStatusArrived>SendPackage-Recipient-Arrived</sendPackageRecipientStatusArrived> 

    </smsMessages> 

    <emailMessges> 

      <email>QueenOfDreamer.myanmarhighsociety@gmail.com</email> 

      <password>Password@123</password> 

      <host>smtp.gmail.com</host> 

      <port>587</port> 

    </emailMessges> 

    <companyProfile> 

      <shopName>QueenOfDreamer</shopName>

      <shopUrl>https://aws-mhs-bucket.s3-ap-southeast-1.amazonaws.com/DefaultImage/AppLogo/QueenOfDreamer_Logo.png</shopUrl>

      <shopAddress>22 St, between 81*82 AungMyayThazan, Mandalay, Myanmar.</shopAddress>

      <phoneNo>09797408858</phoneNo> 

      <website>www.QueenOfDreamer.com.mm</website> 
      
      <sharedLink>https://www.QueenOfDreamer.com.mm/productdetails?productId=</sharedLink>
      
      <orderDetailUrl>https://www.QueenOfDreamer.com.mm/orderdetail?id=</orderDetailUrl>

    </companyProfile> 

    <fcm> 

      <tokenKeyBuyer>AAAAQRZpY9g:APA91bGwZvICzluS-a3VP4rFB3evmdQ7iAsYN8gUzX9Th8-OZffI2BaOgOlMTJvOHaR1CwbkkAhTT_03GMy4zC5ZRrio9VcNWg_tgEa2DIhQKqU9V9QpRDTjb0vaP9MMgHK0rWvD1rrM</tokenKeyBuyer> 

      <senderIdBuyer>279548879832</senderIdBuyer> 

      <tokenKeySeller>AAAAxELXZj4:APA91bH4oM8S_8GjcmhYF4n80lcb2ayFv5wu9cEG9_ccKxfgeKJ98kxnN2HZp7GXdnKYCS0Chf-ANGFLwEXUYgwXUbUdsmFQrBCdm0XjaKi7eiKX_dXlwv3SKHHBnkFM33Mp_2aUSLl-</tokenKeySeller> 

      <senderIdSeller>842935002686</senderIdSeller> 

    </fcm>  

    <userToken>Bearer eyJhbGciOiJIUzUxMiIsInR5cCI6IkpXVCJ9.eyJuYW1laWQiOiIxIiwidW5pcXVlX25hbWUiOiJzYWkgYXVuZyBtZWluIiwibmJmIjoxNTg5NTI5NzY4LCJleHAiOjE1OTAxMzQ1NjgsImlhdCI6MTU4OTUyOTc2OCwiaXNzIjoidGhpaGFzb2UifQ.2ccz8Gc39uhPt6ARmPkKG1EEJQgM0rKAMEog62Np7rgGTFmBguid3-FrO7dRiDT2AbMH7FX8D47XgDEN72mWbw</userToken> 

    <KBZGateway> 

      <notifyUrl>https://api.shopdoora.com/QueenOfDreamer/api/Order/CallBackKPayNotify</notifyUrl> 

      <method>kbz.payment.precreate</method> 

      <sign_type>SHA256</sign_type> 

      <version>1.0</version> 

      <appid>kp4e84c65e20c246cb95820aabe8da74</appid> 

      <key>29b5f3774842da037352ccea6d6f5232</key> 

      <merch_code>200104</merch_code> 

      <trade_type_mobile>APP</trade_type_mobile>  

      <trade_type_web>PWAAPP</trade_type_web> 

      <trans_currency>MMK</trans_currency> 

      <uri>http://api.kbzpay.com/payment/gateway/uat/precreate</uri> 
      <queryorderuri>http://api.kbzpay.com/payment/gateway/uat/queryorder</queryorderuri>
      <queryorderversion>3.0</queryorderversion>
      <queryordermethod>kbz.payment.queryorder</queryordermethod>

    </KBZGateway> 
    <WavePay>
      <uri>https://testpayments.wavemoney.io:8107/payment</uri>
      <merch_Id>shopdoorawmmmerchant</merch_Id>
      <key>3cbb9692625f2f87b7f0c31ad63cfc34ccb9f5b23fa60093750afd031ea2b45a</key>
      <frontend_url>http://qa.QueenOfDreamer.com.mm/shoppingcart?platform=</frontend_url>
      <backend_url>https://api.shopdoora.com/maymayshop/api/Order/CheckWaveTransactionStatus</backend_url>
      <merch_name>QueenOfDreamer</merch_name>
      <time_sec>300</time_sec>
      <authenticate_uri>https://testpayments.wavemoney.io:8107/authenticate?</authenticate_uri>
    </WavePay>

   <paymentService> 

      <waveMoney>1</waveMoney> 

      <kpay>2</kpay> 

      <okDollar>3</okDollar> 

      <master>4</master> 

      <bank>5</bank> 

      <visa>6</visa> 

      <cod>7</cod>    
      <mytelPay>8</mytelPay>    
      <saisaiPay>9</saisaiPay>    
      <cbPay>10</cbPay>    
      <ayaPay>11</ayaPay>    
      <onePay>12</onePay>    
      <waveMoney_manual>13</waveMoney_manual>    
      <kpay_manual>14</kpay_manual>    
      <okDollar_manual>15</okDollar_manual>    
      <master_manual>16</master_manual>    
      <visa_manual>17</visa_manual>    
      <mytelPay_manual>18</mytelPay_manual>    
      <saisaiPay_manual>19</saisaiPay_manual>    
      <cbPay_manual>20</cbPay_manual>    
      <ayaPay_manual>21</ayaPay_manual>    
      <onePay_manual>22</onePay_manual>      

    </paymentService> 

    <paymentStatus> 

      <check>1</check>  

      <success>2</success> 

      <fail>3</fail> 

    </paymentStatus> 

  </QueenOfDreamer> 

</configuration> 